<div id="filters_container" class="border-bottom">
  <div class="scroll-container">
    <div class="scroll-icon-left">
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="filters">
      <a href="/listings">
        <div class="filter Icons">
          <div><i class="fa-solid fa-ticket"></i></div>
          <p>All</p>
        </div>
      </a>
      <a href="/listings/category/Trending">
        <div class="filter Trending">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </div>
      </a>
      <a href="/listings/category/Pools">
        <div class="filter Pools">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Pools</p>
        </div>
      </a>
      <a href="/listings/category/Trecking">
        <div class="filter Trecking">
          <div><i class="fa-solid fa-person-hiking"></i></div>
          <p>Trecking</p>
        </div>
      </a>
      <a href="/listings/category/Amazing-Views">
        <div class="filter Trecking">
          <div>
            <i><img src="/images/view.png" style="height: 1.5rem" /></i>
          </div>
          <p>Amazing Views</p>
        </div>
      </a>
      <a href="/listings/category/Beaches">
        <div class="filter Beaches">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>Beaches</p>
        </div>
      </a>
      <a href="/listings/category/Rooms">
        <div class="filter Rooms">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </div>
      </a>
      <a href="/listings/category/Castles">
        <div class="filter Castles">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p>
        </div>
      </a>
      <a href="/listings/category/Boats">
        <div class="filter Boats">
          <div><i class="fa-solid fa-sailboat"></i></div>
          <p>Boats</p>
        </div>
      </a>
      <a href="/listings/category/Arctic">
        <div class="filter Arctic">
          <div><i class="fa-regular fa-snowflake"></i></div>
          <p>Arctic</p>
        </div>
      </a>
      <a href="/listings/category/Iconic-Cities">
        <div class="filter Iconic-Cities">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic Cities</p>
        </div>
      </a>
      <a href="/listings/category/Mountains">
        <div class="filter Mountains">
          <div><i class="fa-solid fa-mountain-sun"></i></div>
          <p>Mountains</p>
        </div>
      </a>
      <a href="/listings/category/Parties">
        <div class="filter Parties">
          <div><i class="fa-solid fa-champagne-glasses"></i></div>
          <p>Parties</p>
        </div>
      </a>
      <a href="/listings/category/Sports">
        <div class="filter Sports">
          <div><i class="fa-solid fa-table-tennis-paddle-ball"></i></div>
          <p>Sports</p>
        </div>
      </a>
      <a href="/listings/category/Gyms">
        <div class="filter Gyms">
          <div><i class="fa-solid fa-dumbbell"></i></div>
          <p>Gyms</p>
        </div>
      </a>
      <a href="/listings/category/Camping">
        <div class="filter Camping">
          <div><i class="fa-solid fa-tent"></i></div>
          <p>Camping</p>
        </div>
      </a>
      <a href="/listings/category/Snowboarding">
        <div class="filter Snowboarding">
          <div><i class="fa-solid fa-person-snowboarding"></i></div>
          <p>Snowboarding</p>
        </div>
      </a>
      <a href="/listings/category/Birthday">
        <div class="filter Birthday">
          <div><i class="fa-solid fa-cake-candles"></i></div>
          <p>Birthday</p>
        </div>
      </a>
    </div>
    <div class="scroll-icon-right active">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch tax-container">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Default total after taxes</label
      >
    </div>
  </div>
</div>
